.container {
    display: flex;
    height: 320px;
    width: 320px;
    flex-wrap: wrap;
}
.container div {
    display: flex;
    border-style: solid;
    height: 14px;
    width: 14px;
}

.row {
    display: flex;
    
}
.row div {
    display: flex;
    border-style: solid;
    height: 14px;
    width: 14px;
}
.column {
    display: flex;
    flex-direction: column;
}
.column div {
    display: flex;
    border-style: dotted;
    height: 14px;
    width: 14px;
}

body {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
}
/* 
first things first
- make it such that a div has a box shape, and a border color, no padding/margin
use flexbox to make the box apear as a grid, not as one on each line
possible ideas:
- flex-wrap to have them all fit
- fix their size, so they cant be made smaller or larger
 */