
.container {
    display: flex;
    height: 496px;
    width: 496px;
    justify-content: center;
    border-style: solid;
}
.container div {
    display: flex;
    flex-direction: column;
    }
.container div div {
    display: flex;
    border-width: 1px;
}

body {
    display: flex;
    justify-content: center;
}

/* make each box the same size */
/* make them fill upo space to the best of their ability */